@import url(
  'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
   --font-style: 'Nunito Sans', sans-serif;
}

body {
  background: #7d7d7d;
  font-family: var(--font-style);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: rgb(71, 71, 71);
}

::-webkit-scrollbar-thumb {
  background:#7d7d7d;
  height: 2rem;
} */

a {
  text-decoration: none;
}

/* login and register styling */
.login-box {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: #242026;
   box-shadow: 0 15px 25px rgba(48, 30, 248, 0.902);
   border-radius: 10px;
}

.login-box h2 {
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}

.login-box .user-box input {
   position: relative;
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: relative;
   left: 0;
   top: -60px;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
   top: -85px;
   left: 0;
   color: rgba(48, 30, 248, 0.902);
   font-size: 14px;
}
#submit {
   padding: 10px 20px;
   color: #CBBDDB;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .5s;
   letter-spacing: 4px;
   border: 1px solid rgba(48, 30, 248, 0.902);
   margin: auto;
   cursor: pointer;
}

#submit2 {
  padding: 8px 19px;
  height: 2.5rem;
  width: 10rem;
  color: #CBBDDB;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 3px;
  border: 1px solid rgba(48, 30, 248, 0.902);
  margin: auto;
  cursor: pointer;
}

#submit:hover, #submit2:hover {
   background: rgba(48, 30, 248, 0.902);
   color: #fff;
   border-radius: 5px;
   box-shadow:
   0 0 5px rgba(48, 30, 248, 0.902),
   0 0 25px rgba(48, 30, 248, 0.902),
   0 0 50px rgba(48, 30, 248, 0.902),
   0 0 100px rgba(48, 30, 248, 0.902);
}
.button-form {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
}
#register {
   font-size: 14px;
   /* font-weight:800; */
   text-decoration: none;
   color: #CBBDDB;
   margin: auto;
   width: 60%;
   text-align: center;
}

#register-link {
   font-size:1.2rem;
}

#register a {
   margin: auto;
   font-weight: 100;
   color: rgba(48, 30, 248, 0.902);
   text-decoration: none;
}

/* Nav */

.logo {
  width: 8rem;
  height: auto;
  margin: 0 2rem;
  padding: .2rem 1rem;
  gap: 1rem;
  object-fit: fill;
  border: none;
  box-shadow: none;
  border-radius: 50%;
}

.logo:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

#nav-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(37, 179, 75);
  background: linear-gradient(100deg, rgb(19, 155, 57) 0%, rgb(2, 106, 30) 100%);
  padding: .2rem;
  color: white;
}

#nav-content{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgb(200, 198, 198);
  margin: .2rem 1%;
  padding: .2rem;
  overflow-y: hidden;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
}

.nav-link{
  padding: 10px 25px;
  margin: 5px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  background-color:#7d7d7d;
}

.nav-link:hover {
  color: rgb(50, 188, 19);
}

@media (max-width: 800px){
  /*Hamburger CSS */
   .menu_btn{
    position: absolute;
    top: 4.9em;
    right: 0;
    margin-left: -3em;
    margin-top: -47px;
    width:4em;
    height: 48px;
    cursor: pointer;
    z-index: 9;
   }
  .menu_btn div{
    position: relative;
    width:2.2em;
    height: 5px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    margin-top: 8px;
  transition-duration: .25s;  
  z-index: 9;
  }
  
  
   .menu_box{
    display: block;
    position: fixed;
    top:0;
    left: 101%;
    width: 300px;
    height: 50%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #b48484;
    box-shadow: 2px 2px 6px rgba(0,0,0,4);
    transition-duration: .25s;
    z-index: 8;
   }
   .nav-link{
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  
  .nav-link:hover{
  background-color: rgb(7, 10, 9);
  }
  #menu_toggle:checked + .menu_btn .top-bun{
    transform:rotate(-45deg);
    margin-top:25px;
   }
   #menu_toggle:checked + .menu_btn .bottom-bun {
     opacity:0;
     transform:rotate(45deg);
    }
    #menu_toggle:checked + .menu_btn .meat{
     transform:rotate(45deg);
     margin-top: -7px;
    }
     #menu_toggle:checked  ~ .menu_box{
   left:52vh !important;
    }
  
  .login-link{
    font-size: 1.4rem;
    margin: .7rem 1rem;
    gap: .5rem;
    padding: .2rem;
    color: #212121;
  }
}

/* About Us */

#aU-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 10rem auto; */
  background-image: url('../public/images/About-image.png');
  background-size:cover;
  background-position: center;
  height: 100vh;
}

#aU-text{
  margin: 2rem 10rem;
  color: white;
  font-size: 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

#about-h1 {
  padding-top: 1rem;
  margin: .5rem 6rem;
  color: white;
  font-size: 3.5rem;
}

/* Home Page */

#showcase {
  background-image: url('../public/images/home_page_photo.png');
  background-size:cover;
  background-position: center;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  text-align: center;
  padding: 0 20px;
}

#showcase h1 {
font-size: 50px;
line-height: 3;
}

#showcase p {
  font-size: 20px;
}

#read-me-button {
  padding: 4px 8px;
  height: 2.5rem;
  width: 10rem;
  color: #CBBDDB;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 3px;
  border: 1px solid rgb(37, 179, 75);
  margin: 2rem;
  cursor: pointer;
}

#read-me-button:hover {
  background: rgb(37, 179, 75);
  color: #fff;
  border-radius: 5px;
  box-shadow:
  0 0 5px rgb(37, 179, 75),
  0 0 25px rgb(37, 179, 75),
  0 0 50px rgb(37, 179, 75),
  0 0 100px rgb(37, 179, 75);
}

.gallery {
  width: 100%;
  height: 40vmin;
  display: flex;
  gap: 5px;
}

.gallery img {
  height: 100%;
  flex: 1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.gallery img:hover {
  flex: 1.5;
}

#reunited {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  text-decoration:solid;
}


/* footer */
.main-footer{
  padding: 70px 0 ;
  display: flex;
  justify-content: space-evenly;
  background-color: #19302E;
}
.main-footer ul{
  list-style: none;
}
.main-footer h1{
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}
.main-footer h2{
  color: #ffffff;
  font-weight: 500;
}
.main-footer ul li a{
  color: #ffffffcc;
  text-decoration: none;
}
footer{
  background-color: #19302E;
  border-top: 1px solid #6EB981;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}
footer a{
  text-decoration: none;
  color: #ffffff;
}
.logoinfo p {
  color:#6EB981 ;
  font-size: 17px;
  margin-top: 5px;
}
.contact-details{
  list-style: none;
  margin: 10px 0;
}
.contact-details li a{
  text-decoration: none;
  color: #f1f1f1;
}
.contact-details .fa{
  color: #f1f1f1;
  margin-right: 10px;
}
.sociallogos{
  padding: 20px 0;
}
.sociallogos .logobox a{
  padding: 0 10px ;
      text-decoration: none;
      color: #ffffff;
      font-size: 22px;
}
.com ul li{
  padding: 5px 0;
}
@media only screen and (max-width: 749px){
  .main-footer{
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  .info{
      padding: 20px 0;
  }
}
@media (max-width: 480px){
  .main-footer{
      grid-template-columns: 1fr;
  }
  .sociallogos{
      padding: 20px 0;
  }
  .com{
      padding: 20px 0;
  }
}

/* Lost Ones Card */

.lostOne-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../public/images/lostOnes-background.png');
  background-size:cover;
  background-position: center;
  /* height: 100vh; */
}

.lostOne-header{
  display: flex;
  flex-direction: column;
  font-size:x-large;
  padding-top: 1.6rem;
  margin: 2rem;
  color:rgb(246, 246, 246);
  font-weight:bolder;
  font-size: xx-large;
  border: 1px solid rgb(250, 255, 249);
  border-radius: 10px;
  background-color: #7d7d7d;
  width: 25rem;
  height: 9rem;
  text-align: center;
}

.lostOne-main{
  display: grid; 
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto; 
  margin: 1rem;
  width: 100rem;
  height: 100rem;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
  gap: 10%;
  margin-bottom: 10rem;
}

.lostOne-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 29rem;
  overflow:hidden;
  border-radius: 10px;
  border: 5px solid rgb(36, 195, 22);
  background-color: rgb(0, 0, 0);
}

#lostOne-pic{
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: 2rem 0 8rem;
  width:95%;
  height: 15rem;
  padding-bottom: .5rem;
}

#lostOne-name{
margin: 1rem 0 2rem;
font-size: 3rem;
color: rgb(87, 209, 30);
}

#view-pet-button {
  padding: 4px 8px;
  height: 2.5rem;
  width: 10rem;
  color: #CBBDDB;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 3px;
  border: 1px solid rgb(37, 179, 75);
  margin: 2rem;
  cursor: pointer;
}

#view-pet-button:hover {
  background: rgb(37, 179, 75);
  color: #fff;
  border-radius: 5px;
  box-shadow:
  0 0 5px rgb(37, 179, 75),
  0 0 25px rgb(37, 179, 75),
  0 0 50px rgb(37, 179, 75),
  0 0 100px rgb(37, 179, 75);
}

/* Lost Ones details  */

.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../public/images/details-background.png');
  background-size:cover;
  background-position: center;
  height: 160vh;
}

.details-header{
  display: flex;
  flex-direction: column;
  font-size:x-large;
  padding-top: 1.6rem;
  margin: 2rem;
  /* color:rgb(246, 246, 246); */
  font-weight:bolder;
  font-size: xx-large;
  /* border: 1px solid rgb(250, 255, 249); */
  /* border-radius: 10px; */
  /* background-color: #7d7d7d; */
  width: 25rem;
  height: 15rem;
  text-align: center;
}

.details-main{
  display: grid; 
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto; 
  margin: 1rem;
  width: 100rem;
  height: 100rem;
  justify-content: center;
  align-items: center;
  /* padding: 2px; */
  /* gap: 10%; */
  /* margin-bottom: 10rem; */
}

.details-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 38rem;
  overflow:hidden;
  border-radius: 10px;
  border: 5px solid rgb(36, 195, 22);
  background-color: rgb(251, 249, 249);
  /* padding:3rem;
  margin:3rem; */
}

#details-pic{
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  margin-bottom: 2rem 0 8rem;
  width: 38rem;
  height: 22rem;
  padding-bottom: .5rem;
  margin-top:2px;
}

#details-name{
margin: 1rem 0 2rem;
font-size: 3rem;
color: rgb(87, 209, 30);
}

.details-title {
  color: green;
  font-size:x-large;
  text-decoration: underline;
}

.comment-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  border: 5px solid rgb(21, 49, 205);
  height: 8rem;
  width:60vw;
}

.comment-header{
  display: flex;
  flex-direction: column;
  font-size:x-large;
  /* padding-bottom:; */
  /* margin: 2rem; */
  /* color:rgb(246, 246, 246); */
  font-weight:bolder;
  font-size: large;
  /* border: 1px solid rgb(250, 255, 249); */
  /* border-radius: 10px; */
  /* background-color: #7d7d7d; */
  width: 25rem;
  height: 12rem;
  text-align: center;
}

#button-container {
  padding-top: 10px;
}

.anonymous-posted {
margin: 1rem 0 2rem;
font-size: 1.8rem;
text-decoration: underline;
color: rgb(22, 25, 208);
}


#delete-edit-button {
  padding: 2px 4px;
  height: 2rem;
  width: 6rem;
  color: #CBBDDB;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 5px;
  border: 1px solid rgb(13, 59, 211);
  /* margin: .1rem; */
  cursor: pointer;
}

#delete-edit-button:hover {
  background: rgb(13, 59, 211);
  color: #fff;
  border-radius: 5px;
  box-shadow:
  0 0 5px rgb(13, 59, 211),
  0 0 25px rgb(13, 59, 211),
  0 0 50px rgb(13, 59, 211),
  0 0 100px rgb(13, 59, 211);
}

/* New Comment Form  */
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
  height:70vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  left: 20px;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}
.center .inputbox [type="button"] {
  width: 50%;
  background: dodgerblue;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}

#form-button {
  padding: 4px 8px;
  height: 2.5rem;
  width: 10rem;
  color: #CBBDDB;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 3px;
  border: 1px solid rgb(13, 59, 211);
  margin: .5rem;
  cursor: pointer;
}

#form-button:hover {
  background: rgb(13, 59, 211);
  color: #fff;
  border-radius: 5px;
  box-shadow:
  0 0 5px rgb(13, 59, 211),
  0 0 25px rgb(13, 59, 211),
  0 0 50px rgb(13, 59, 211),
  0 0 100px rgb(13, 59, 211);
}